[v-cloak] {
    display: none;
}

.hide {
    display: none !important;
}

.show {
    display: '' !important;
}

.w-10 {
    float: left !important;
    width: 10% !important;
}

.w-15 {
    float: left !important;
    width: 15% !important;
}

.w-16_5 {
    float: left !important;
    width: 16.5% !important;
}

.w-20 {
    float: left !important;
    width: 20% !important;
}

.w-25 {
    float: left !important;
    width: 25% !important;
}

.w-30 {
    float: left !important;
    width: 30% !important;
}

.w-40 {
    float: left !important;
    width: 40% !important;
}

.w-45 {
    float: left !important;
    width: 45% !important;
}

.w-50 {
    float: left !important;
    width: 50% !important;
}

.w-55 {
    float: left !important;
    width: 55% !important;
}

.w-60 {
    float: left !important;
    width: 60% !important;
}

.w-70 {
    float: left !important;
    width: 70% !important;
}

.w-75 {
    float: left !important;
    width: 75% !important;
}

.w-80 {
    float: left !important;
    width: 80% !important;
}

.w-90 {
    float: left !important;
    width: 90% !important;
}

.w-95 {
    float: left !important;
    width: 95% !important;
}

.w-96 {
    float: left !important;
    width: 96% !important;
}

.w-98 {
    float: left !important;
    width: 98% !important;
}

.w-100 {
    float: left !important;
    width: 100% !important;
}

/*边距 start*/
.p-0 {
    padding: 0 !important
}

.p-5 {
    padding: 5px !important
}

.p-10 {
    padding: 10px !important
}

.p-20 {
    padding: 20px !important
}

.p-30 {
    padding: 30px !important
}

.p-l-0 {
    padding-left: 0 !important
}

.p-l-5 {
    padding-left: 5px !important
}

.p-l-10 {
    padding-left: 10px !important
}

.p-l-20 {
    padding-left: 20px !important
}

.p-l-25 {
    padding-left: 25px !important
}

.p-r-0 {
    padding-right: 0 !important
}

.p-r-5 {
    padding-right: 5px !important
}

.p-r-10 {
    padding-right: 10px !important
}

.p-r-20 {
    padding-right: 20px !important
}

.p-r-30 {
    padding-right: 30px !important
}

.p-r-40 {
    padding-right: 40px !important
}

.p-t-0 {
    padding-top: 0 !important
}

.p-t-5 {
    padding-top: 5px !important
}

.p-t-10 {
    padding-top: 10px !important
}

.p-t-15 {
    padding-top: 15px !important
}

.p-t-20 {
    padding-top: 20px !important
}

.p-t-50 {
    padding-top: 50px !important
}

.p-t-100 {
    padding-top: 100px !important
}

.p-b-0 {
    padding-bottom: 0 !important
}

.p-b-5 {
    padding-bottom: 5px !important
}

.p-b-10 {
    padding-bottom: 10px !important
}

.p-b-20 {
    padding-bottom: 20px !important
}

.p-b-30 {
    padding-bottom: 30px !important
}

.p-b-40 {
    padding-bottom: 40px !important
}

.p-b-50 {
    padding-bottom: 50px !important
}

.auto-m-0 {
    margin: 0 !important
}

.auto-m-1 {
    margin: 1% !important
}

.auto-m-2 {
    margin: 2% !important
}

.auto-m-5 {
    margin: 5% !important
}

.auto-m-10 {
    margin: 10% !important
}

.auto-m-15 {
    margin: 15% !important
}

.m-0 {
    margin: 0 !important
}

.m-5 {
    margin: 5px !important
}

.m-10 {
    margin: 10px !important
}

.m-15 {
    margin: 15px !important
}

.m-20 {
    margin: 20px !important
}

.m-25 {
    margin: 25px !important
}

.m-30 {
    margin: 30px !important
}

.m-35 {
    margin: 35px !important
}

.m-40 {
    margin: 40px !important
}

.m-l-0 {
    margin-left: 0px !important
}

.m-l-5 {
    margin-left: 5px !important
}

.m-l-10 {
    margin-left: 10px !important
}

.m-l-15 {
    margin-left: 15px !important
}

.m-l-20 {
    margin-left: 20px !important
}

.m-l-30 {
    margin-left: 30px !important
}

.m-l-40 {
    margin-left: 40px !important
}

.m-r-0 {
    margin-right: 5px !important
}

.m-r-5 {
    margin-right: 5px !important
}

.m-r-10 {
    margin-right: 10px !important
}

.m-r-15 {
    margin-right: 15px !important
}

.m-r-20 {
    margin-right: 20px !important
}

.m-r-30 {
    margin-right: 30px !important
}

.m-r-40 {
    margin-right: 40px !important
}

.m-t-5 {
    margin-top: 5px !important
}

.m-t-0 {
    margin-top: 0 !important
}

.m-t-10 {
    margin-top: 10px !important
}

.m-t-15 {
    margin-top: 15px !important
}

.m-t-20 {
    margin-top: 20px !important
}

.m-t-30 {
    margin-top: 30px !important
}

.m-t-40 {
    margin-top: 40px !important
}

.m-t-60 {
    margin-top: 60px !important
}

.m-t-80 {
    margin-top: 80px !important
}

.m-t-100 {
    margin-top: 100px !important
}

.m-b-0 {
    margin-bottom: 0 !important
}

.m-b-5 {
    margin-bottom: 5px !important
}

.m-b-10 {
    margin-bottom: 10px !important
}

.m-b-15 {
    margin-bottom: 15px !important
}

.m-b-20 {
    margin-bottom: 20px !important
}

.m-b-30 {
    margin-bottom: 30px !important
}

.m-b-40 {
    margin-bottom: 40px !important
}

.m-b-60 {
    margin-bottom: 60px !important
}

.m-x-a {
    margin-left: auto;
    margin-right: auto;
}

.m-l-l-5 {
    margin-left: 5% !important;
}

.m-l-l-10 {
    margin-left: 10% !important;
}

.m-l-l-15 {
    margin-left: 15% !important;
}

.m-l-l-20 {
    margin-left: 20% !important;
}

.m-l-l-25 {
    margin-left: 25% !important;
}

.m-l-l-30 {
    margin-left: 30% !important;
}

.m-l-l-35 {
    margin-left: 35% !important;
}

.m-l-l-40 {
    margin-left: 40% !important;
}

.m-l-l-45 {
    margin-left: 45% !important;
}

.m-l-l-50 {
    margin-left: 50% !important;
}

/*边距 end*/

/*文本排布 start*/
.text-nowrap {
    white-space: nowrap
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-del {
    text-decoration: line-through;
}

.ulli {
    list-style: none;
    float: left;
}

.notrow {
    display: flex;
}

/* 超出部分...代替 */
.text-h-dian-1 {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text-h-dian-2 {
    display: -webkit-box;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-h-dian-2-2 {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.fontw-7 {
    font-weight: 700 !important;
}

.fontw-8 {
    font-weight: 800 !important;
}

.fontw-9 {
    font-weight: 900 !important;
}

/* 遮罩 */
.box-zz {
    width: 100vw;
    height: 100vh;
    z-index: 100;
    /* 模糊值 */
    backdrop-filter: blur(3px);
    background-color: #040404ce;
    position: fixed;
    top: 0px;
    left: 0px;
}

/*文本排布 end*/

/*box阴影*/
.box-shadow-2 {
    box-shadow: 2upx 2upx 5upx #e0e0e0;
}

.box-shadow-5 {
    box-shadow: 5upx 5upx 10upx #e0e0e0;
}

.box-shadow-10 {
    box-shadow: 10upx 10upx 20upx #e0e0e0;
}

/*box阴影*/
/* 返回小图标定位 */
.fanhui {
    width: 100px;
    height: 50px;
    position: fixed;
    left: 25px;
    top: 5%;
    z-index: 999;
}

.fanhui image {
    width: 45px;
    height: 25px;
}

/* 返回小图标定位 */

/* flex 布局 */
.flex {
    display: flex;
    /* row 水平左到右 | row-reverse 水平右到左 | column 垂直上到下 | column-reverse 垂直下到上 */
    flex-direction: row;
}
.flex-x-center {
    display: flex;
     /* 左右 水平方向 */
    justify-content: center;
}
.flex-y-center {
    display: flex;
    /* 上下 垂直方向 */
    align-items: center;
}
.flex .col-5 {
    flex: 0 0 auto;
    width: 5%;
}

.flex .col-10 {
    flex: 0 0 auto;
    width: 10%;
}

.flex .col-15 {
    flex: 0 0 auto;
    width: 15%;
}

.flex .col-20 {
    flex: 0 0 auto;
    width: 20%;
}

.flex .col-25 {
    flex: 0 0 auto;
    width: 25%;
}

.flex .col-30 {
    flex: 0 0 auto;
    width: 30%;
}

.flex .col-35 {
    flex: 0 0 auto;
    width: 35%;
}

.flex .col-40 {
    flex: 0 0 auto;
    width: 40%;
}

.flex .col-45 {
    flex: 0 0 auto;
    width: 45%;
}

.flex .col-50 {
    flex: 0 0 auto;
    width: 50%;
}

.flex .col-55 {
    flex: 0 0 auto;
    width: 55%;
}

.flex .col-60 {
    flex: 0 0 auto;
    width: 60%;
}

.flex .col-65 {
    flex: 0 0 auto;
    width: 65%;
}

.flex .col-70 {
    flex: 0 0 auto;
    width: 70%;
}

.flex .col-75 {
    flex: 0 0 auto;
    width: 75%;
}

.flex .col-80 {
    flex: 0 0 auto;
    width: 80%;
}

.flex .col-85 {
    flex: 0 0 auto;
    width: 85%;
}

.flex .col-90 {
    flex: 0 0 auto;
    width: 90%;
}

.flex .col-95 {
    flex: 0 0 auto;
    width: 95%;
}

.flex .col-100 {
    flex: 0 0 auto;
    width: 100%;
}

.border-1 {
    border-width: 1px;
}
.border-2 {
    border-width: 1px;
}
.border-3 {
    border-width: 1px;
}
.border-4 {
    border-width: 1px;
}
.border-5 {
    border-width: 1px;
}
.border-b-1 {
    border-bottom-width: 1px;
}
.border-b-2 {
    border-bottom-width: 1px;
}
.border-b-3 {
    border-bottom-width: 1px;
}
.border-b-4 {
    border-bottom-width: 1px;
}
.border-b-5 {
    border-bottom-width: 1px;
}

.my_select {
    background: url(../assets/img/icon/xia.png) no-repeat right center;
    background-size: 6% 100%;
}



.myelinput input{
    border: 1px solid #e5e5e5 !important;
    padding: 5px 18px!important;
    margin-bottom: 10px;
    height: 55px!important;
    line-height: 55px !important;
    font-size: 16px;
    border-radius: 55px!important;
    box-shadow: 0 0 0 0px !important;
}


// UI 调整

#app .hamburger {
    fill: #fff;
}

#app .sidebar-container{
    -webkit-box-shadow: 0px 0 0px rgba(255, 255, 255, 0);
    box-shadow: 0px 0 0px rgba(255, 255, 255, 0);
}

#app .main-container {
    background: #f0f2f5;
}

#app .app-container {
    min-height: 87vh;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 25px;
    margin-top: 20px;
}

#app .pagination-container .el-pagination {
    right: 20px;
    position: absolute;
}

#app .el-breadcrumb__inner a {
    color: #fff;
}

#app .el-breadcrumb .no-redirect {
    color: #c7c6c6;
}

#app .router-link-exact-active{
    background-color: #f0f2f5;
}

#app .el-card__header{
    border-bottom: 0px solid #fff;
}

#header-search input{
 padding-left: 10px;
 border-radius: 30px;
 border-bottom: 0px solid #fff;
}

#screenfull .svg-icon{
    width: 16px; height: 16px;
}

#size-select  .svg-icon{
    width: 16px; height: 16px; color: #fff;
}

#tags-view-container{
    height: 40px;
    padding-top: 2px;
}

#app .sidebar-container.has-logo .el-scrollbar{
    // -webkit-box-shadow: 0px 0px 10px #000 !important;

    // -moz-box-shadow: 0px 0px 10px #000 !important;

    // box-shadow: 0px 0px 10px #000 !important;
    border-right: 1px solid #d8d7d7 !important;
}